# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Build
build/
dist/
*.spec

# Logs
logs/

# Runtime data
data/

# OCR output
output/
input/

# PyInstaller
*.toc
*.pkg
*.pyz
*.manifest
warn-*.txt
xref-*.html
base_library.zip